<!DOCTYPE html>
<html>
<head>
    
<style>
body {
  background-image: url('assets/pizza.jpeg');
  background-size: 100%;
}
</style>
</head>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Contact Us</title>
</head>
<body>

    <div class="icon">
    <p><i style="font-size:40px" class="fa">&#xf041;</i>
        Anuda Chambers, 203 Shaniwar Peth, Near Gujar Hospital, Karad - 415 110, Dist. Satara, MH-INDIA.</p>&nbsp;&nbsp;

    <!-- <p style="text-align: center;"><span style="text-align: center;
     display: inline-block;" class="fa fa-pencil" aria-hidden="true"></span></p> -->
    

    <p><i style="font-size: 24px;" class="glyphicon glyphicon-user"></i>Priti (PRN - 190840820072)</p>&nbsp;&nbsp;


    <p><i style="font-size:24px" class="fa">&#xf095;</i>&nbsp;
    7387619837</p>&nbsp;&nbsp;

    <p><i style="font-size:24px" class="fa">&#xf0e0;</i> pritidhanawade12@gmail.com</p>&nbsp;&nbsp;
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>


