<!-- <p>
  employee-list works!
</p> -->

<!-- <button (click)="GoToRegister()" type="button" class="btn btn-primary">Add New Record</button> -->

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Menu Name</th> <th>Price</th> 
     

                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Menus of data1;index as j" >
<!--               
                <td><img src="http://localhost:51492/Photos/{{Restaurants.RestaurantName}}.jpg" alt="" style="position: relative;
                    left: 15%; height: 70px; width: 70px;"></td> -->
                <td>{{Menus.Menu.MenuName}}</td>
                <td>{{Menus.Price}}</td>
                <td>
                    <button type="button" (click)="minus(j)" ><i class="glyphicon glyphicon-minus">  </i>  </button>
                    <button type="button" routerLinkActive="router-link-active"  class="btn btn-success">{{count1[j]}}</button>
                    <button type="button" (click)="plus(j)"><i class="glyphicon glyphicon-plus">  </i>  </button>
                </td> 
                <td>
                    <button type="button" (click)="CartData(Menus.MenuHotelId,count1[j])"   class="btn btn-warning">Add to Cart</button>
                </td> 
              
            </tr>
            <tr>
               <td></td>  <td></td>   <td></td>  
               <td> <button type="button"  class="btn btn-primary"[routerLink]="['/cart']" routerLinkActive="router-link-active"  [disabled]="!cartenable">View Cart</button></td> 
        </tbody>
    </table>
</div>

